:root{


    --seats-width: 70vw;
    --seats-margin: 2.5rem;

    --border-radius: .8rem;
    --seat-height: 2rem;
    --seath-width: 2.5rem;
    --seat-availlable: black;
    --seat--occupied: red;
    --seat--selected: rgb(39, 166, 189); 

    --screen-height: 25rem;

}


.screen{

    margin: 0 auto;
    background-color: black;
    height: var(--screen-height);
    width: calc(var(--screen-height) * 1.5);
    transform: rotateX(-45deg);
    perspective: 1000px;

}

.seats{

    margin: var(--seats-margin) auto;
    width: var(--seats-width);

}

.row{

    display: flex;
    justify-content: center;

}

.seat{

    background-color: black;
    width: var(--seath-width);
    height: var(--seat-height);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin: 0.2rem;

}

.seat.empty{

    background-color: white;

}

.seat.selected{
    background-color: var(--seat--selected);
}

.seat.occupied{
    background-color: var(--seat--occupied);
}

.seat:hover{

    cursor: pointer;
    transform: scale(1.2);

}