:root{

    --body-width: 85vw;

    --nav-top-margin: 1.25rem;
    --nav-bottom-margin: 2.5rem;
    --nav-link-width-margin: .5rem;

}


*{
    box-sizing: border-box;
}

body{
    
  font-family: "Inter", sans-serif;
  width: var(--body-width);
  margin: 0 auto;

}

a{

    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;

}

nav{

    display: flex;
    justify-content: space-between;
    margin-top: var(--nav-top-margin);
    margin-bottom: var(--nav-bottom-margin);

}

nav a{

    margin: var(--nav-link-width-margin);

}

.logo{

    font-size: 2rem;

}

@media screen and (min-width: 560px) {
    
    :root{

        font-size: 0.9rem;

    }
    
}

@media screen and (min-width: 720px) {
    
    :root{

        font-size: 1rem;

    }
    
}

@media screen and (min-width: 1080px) {
    
    :root{

        font-size: 1.1rem;

    }
    
}

@media screen and (min-width: 1440px) {
    
    :root{

        font-size: 1.2rem;

    }
    
}

@media screen and (min-width: 2560px) {
    
    :root{

        font-size: 1.3rem;

    }
    
}
