{% extends 'base.html' %}
{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">

{% endblock %}

{% block content %}

    {% if current_user.is_admin %}
        <a href="{{ url_for('edit_movie', id=movie.id) }}">Edit</a>
    {% endif %}

    <div class="about-movie">

        <div class="movie-information">

            <h2>{{ movie.title }}</h2>
            <h3>{{ movie.genre.value }} | {{ movie.duration }} minutes</h3>
            <hr>
            <p>
                {{ movie.description }}
            </p>

        </div>

        <div class="image-area">
            <img class="movie-image" src="{{ url_for('static', filename='movies/' + movie.image )}}" alt="Poster of {{ movie.title }} movie">
        </div>
    </div>


    {% for date, screenings in screenings.items() %}

        <h2>{{ date }}</h2>

        {% for screening in screenings %}
            <a class="timeslot" href="{{ url_for('buy_tickets', id=screening.id) }}">{{ screening.time.strftime('%H:%M') }}</a>
        {% endfor %}

    {% endfor %}

{% endblock %}