{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">

{% endblock %}

{% block content %}

    <div class="screen"></div>

    <div class="seats">

        {% block seats %}{% endblock %}

    </div>

    <form class="booking-form" action="" method="post">
        
        {{ form.hidden_tag() }}
        {{ form.tickets() }}
        <div>
            {{ form.submit() }}
        </div>

    </form>

<script src="{{ url_for('static', filename='js/seats.js')}}"></script>

{% endblock %}
