{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{% block content %}

    <div class="movies" id="current-movies">
        {% for movie in current_movies %}

            <div class="movie">

                <a href="{{ url_for('movie_view', id=movie.id) }}"><img src="{{ url_for('static', filename='movies/' + movie.image) }}" alt="Poster of {{ movie.title }} movie!"></a>
                <a href="{{ url_for('movie_view', id=movie.id) }}" class="movie-link">{{ movie.title }}</a>

            </div>

        {% endfor %}
    </div>

    <div class="movies" id="special-movies">
        {% for movie in special_movies %}
            <div class="movie">

                <a href="{{ url_for('movie_view', id=movie.id) }}"><img src="{{ url_for('static', filename='movies/' + movie.image) }}" alt="Poster of {{ movie.title }} movie!"></a>
                <a href="{{ url_for('movie_view', id=movie.id) }}" class="movie-link">{{ movie.title }}</a>

            </div>
        {% endfor %}
    </div>

    <div class="movies" id="upcoming-movies">
        {% for movie in upcoming_movies %}
            <div class="movie">

                <a href="{{ url_for('movie_view', id=movie.id) }}"><img src="{{ url_for('static', filename='movies/' + movie.image) }}" alt="Poster of {{ movie.title }} movie!"></a>
                <a href="{{ url_for('movie_view', id=movie.id) }}" class="movie-link">{{ movie.title }}</a>

            </div>
        {% endfor %}
    </div>
{% endblock %}