{% extends 'base.html' %}

{% block content %}

    <div id="current-movies">
        {% for movie in current_movies %}
            <h2>

                {{ movie.title }}

            </h2>
        {% endfor %}
    </div>

    <div id="special-movies">
        {% for movie in special_movies %}
            <h2>

                {{ movie.title }}
                <img src="{{ url_for('static', filename='movies/' + movie.image) }}" alt="Poster of {{ movie.title }} movie!">

            </h2>
        {% endfor %}
    </div>

    <div id="upcoming-movies">
        {% for movie in upcoming_movies %}
            <h2>

                {{ movie.title }}

            </h2>
        {% endfor %}
    </div>
{% endblock %}